<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/signup.css" />
  <title>EdTech Landing Page</title>
</head>
<body>
  <header>
    <div class="container">
      <h1>My Website</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/fsd">Full Stack Development</a></li>
          <li><a href="/datascience">Data Science</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/earn">Refer and Earn</a></li>

        </ul>
      </nav>
      <div class="header-buttons">
        <a href="/signup" class="login-button">Signup</a>
      </div>
    </div>
  </header>

  <section class=" section">
  </section>

  <script src="/js/script.js"></script>
  <script src="https://kit.fontawesome.com/68129f478c.js" crossorigin="anonymous"></script>
</body>
</html>
